* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.menu {
    padding: 10px;
}

.menu-left {
    width: 75%;
}

.menu-right {
    width: 24%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    box-shadow: 10px 5px 10px rgb(63, 59, 63);
    padding: 10px;
    cursor: move;
}

#row_0 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 10px rgb(208, 19, 107);

    border: solid 1px black;
    overflow: auto;
}

.content-item {
    padding: 10px;
    margin: 5px;
    cursor: move;
    width: 100%;
    display: flex;
    justify-content: center;
}

.resizable-y {
    overflow-y: auto;
}

.menu-right>.row>.content-item {
    overflow: auto;
} 


.custom-popup-class {
    background-color: transparent; 
  }

  .custom-popup-class2{
      background-color: rgb(255, 255, 255); 
    }